body
{
	background-color: #fff;
	font: italic 110% sans-serif;
	font-style: normal; 
}

ul
{
	margin-left: 200px;
	display: inline;
	align-content: center;
	list-style: none;
}

li
{
	display: block;
	margin-left: 0px;
}

i
{
	padding-left: 30px;
}

h1
{
	margin-left: 20px;
	font-size: 35px; 
}

input
{
	border: 1px solid #fff;
	display: block;
	height: 20px;
	width: 180px;
	transition: 0.3s;
	border-color: #538ea3;
	padding-left: 10px;
}

select
{
	margin-top: 0px;
	height: 24px;
	width: 180px;
	border-color: #538ea3;
}

h2
{
	padding-left: : 10px;
	display: inline-block;
}

a
{
	background-color: #fff;
	width: 200px;
}

aside
{
	margin: 10px;
	height: 600px;
	width: 800px;
	display: inline-block;
	background-color: #f2f5f6;
}

span
{
	margin-left: 10px;
	text-align: center;
	align-content: center;
	margin-top: 10px;
	font-size: 16px;
}

button
{
	margin-bottom: 20px;
}

.span-order-list
{
	font-size: 20px;
}

.first-page
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.order-span
{
	font-size: 20px;
}

.bye
{
	border-left:2px solid #293135;
	width: 35px;
	background-color: #f2f5f6;
	height: 30px;
	color: #293135;
}

.account-changer
{
	align-content: center;
	align-items: center;
	width: 145px;
	height: 30px;
	display: flex;
	flex-direction: row;
	background-color: #293135;
	border:2px solid #293135;
	margin-left: 20px;
}

.button-block
{
	align-items: center;
	width: 145px;
	height: 50px;
	display: flex;
	flex-direction: row;
	background-color: #293135;
	border:2px solid #293135;
	margin-left: 20px;
}


.order-div
{
	margin-bottom: 10px;
}

.Address-1
{
	display: none;
}

.Address-2
{
	display: none;
}

.Address-3
{
	display: none;
}

.Address-4
{
	display: none;
}

.full-add-button
{
	display: flex;
	flex-direction: row;
	width: 110px;
	height: 35px
}

.Cancel-button
{
	font-size: 14px;
	color: #293135;
	border: 2px solid #293135;
	background-color: #f2f5f6;
	margin-left: 20px;
	width: 110px;
	height: 35px;
	transition: 0.2s;
}

.container
{
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.nav-bar
{
	text-align: left;
	margin: 10px;
	height: 600px;
	width: 230px;
	display: inline-block;
	background-color: #f2f5f6;
}

.list-element
{
	text-align: left;
	vertical-align: center;
	height: 30px;
	border-left: 4px solid 	#f2f5f6;
	border-bottom: 2px solid 	#f2f5f6;
	border-top: 2px solid 	#f2f5f6;
	align-content: left;
	padding-bottom: 7px;
	padding-top: 5px;
	transition: 0.2s;
	
}

.congratulation
{
	margin-left: 15px;
	font-size: 10px;
}

.btn
{
	border: 0px;
	background-color: rgba(255, 255, 255, 0);
}

.Address
{
	display: inline-block;
	align-content: right;
	float: left;
}

.last-name, .email, .Phone-number
{
	display: inline-block;
	float: left;
}

.FLname
{
	height: 100px;
	width: 800px;
	display: inline;
}

.first-row
{
	display: flex;
	flex-direction: row;
	margin-left: 22px;
}

.second-block
{
	margin-left: 10px;
}

.third-row
{
	margin-top: 10px;
	margin-left: 10px;
	display: flex;
	flex-direction: row;
}

.third-row-element
{
	margin-left: 10px; 
}

.fourth-row
{
	display: flex;
	flex-direction: row;
}

.add-button
{
	align-items: center;
	width: 145px;
	height: 30px;
	display: flex;
	flex-direction: row;
	background-color: #293135;
	border:2px solid #293135;
	margin-left: 20px;
}

.login-div-cheker{
	margin: 15px; 
}

.login-div-cheker{
	display: none;
	color: red;
	font-size: 10px;
}

.Add-button
{
	border-left:2px solid #293135;
	width: 35px;
	background-color: #f2f5f6;
	height: 30px;
	color: #293135;
}

.Store-button
{
	border-left:2px solid #293135;
	width: 35px;
	background-color: #f2f5f6;
	height: 30px;
	color: #293135;
}

.city
{
	width: 115px;
}

.ZIP
{
	width: 115px;
}

.addText
{
	text-align: center;
	justify-content: center;
	color: #d6d6d6;
	font-size: 14px;
	margin-left: 20px;
	width: 80px;
	height: 1px;
}

.state-select
{
width: 123px;
height: 25px;
}


input:hover
{
	background-color: #f2f5f6;
	border:1px solid #538ea3;
}

.list-element:hover
{
	align-content: center;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: white;
	border-top: 2px solid #293135;
	border-bottom: 2px solid #293135;
}

select:hover
{
	background-color: #f2f5f6;
	border:1px solid #538ea3;	
}

.Cancel-button:hover
{
	color: #f2f5f6;
	border: 2px solid #f2f5f6;
	background-color: #293135;
	margin-left: 20px;
	width: 110px;
	height: 35px;
	transition: 0.2s;
}

.Add-button:hover
{
	border:2px solid #f2f5f6;
	width: 35px;
	background-color: #293135;
	height: 30px;
	color: #f2f5f6;
}