body{
	background-color: #fff;
	font-family: AvenirNext, bold;
}
ul{
	display: inline;
	align-content: center;
	list-style: none;
}
input{
	display: block;
	height: 20px;
	width: 180px;
}
select{
	height: 20px;
	width: 180px;
}
h2{
padding-left: : 10px;
display: inline-block;
}
aside{
margin: 10px;
height: 600px;
width: 800px;
display: inline-block;
background-color: #d6d6d6;
position: fixed;
bottom: 39px;
}
.container{
display: inline;
padding: 10px;
}
.navbar{
	text-align: center;
margin-bottom: 100px;
	height: 600px;
	width: 230px;
	display: inline-block;
	font-family: AvenirNext, bold;
	background-color: #d6d6d6;
}
.listElement{
	align-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: inherit;
	
}
.collectData{

}
.congr{
	margin-left: 15px;
}
.btn{
	border: 0px;
	background-color: rgba(255, 255, 255, 0);
}
.Address{
	display: inline-block;
	align-content: right;
	float: left;
}
#lname{
display: inline-block;
float: left;
}
.FLname{
	height: 100px;
	width: 800px;
	display: inline;
}
.firstrow{
	display: flex;
	flex-direction: row;
	margin-left: 22px;
}
.secblock{
	margin-left: 10px;
}
.thirdRow{
	margin-left: 10px;
	display: flex;
	flex-direction: row;
}
.thirdRowElement{
	margin-left: 10px; 
}
.check{
	width: 115px;
}
.listElement:active{
	align-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: inherit;
	background-color: #fff;
	border-left: 4px solid black;
}